.home_wrapper{   
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.dialogue_body{
    background-color: black !important;
    opacity: 75%;
    height: 100%;
    margin: 2%;
    overflow: hidden;

    text-transform: lowercase;
    color: white;
    font-size: medium;
    font-weight: 10vw;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    padding: 1rem 1rem;
}
.dbp {
    overflow-y: scroll;
    font-weight: 10vw;
    height: 60%;
}

input{
    font-family: 'Aboreto', cursive;
}
button{
    font-family: 'Aboreto', cursive;
}
img{
    margin-top: 2rem;
    height: 300px;
    width: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.story_wrap{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    height: 50%;
}